<%= content_tag :div, id: "users_wrapper" do %>
   <%= image_tag ("arm_feat_logo.png"), id: "mini-logo" %>
   <%= content_tag :h1, "Current User: #{@user.username}" %><br>

   <button class="home_buttons"><%= link_to "Ready to Play?", attempts_path %></button>
<% end %>
