#attempts_wrapper{
   background-color: gray;
   overflow-x: hidden;
   width: 102%;
   height: 103%;
   padding-left: 2%;
   margin-left: -1%;
   margin-bottom: -2%;
   margin-top: -16px;
   font-family: impact;
}
#challenge_word{
   text-align: center;
}
#arm_lever {
   width: 15%;
   position: fixed;
   right: 50%;
   left: 50%;
   top: 50%;
   bottom: 50%;
}
#boss_space{
   position: fixed;
   right: 20%;
   bottom: 20%;
}
