#attempts_wrapper{
   position: fixed;
   background-image: url("boss1/losing/score0.jpg");
   background-size: cover;
   right: 0;
   left: 0;
   bottom: 0;
   top: 0;
   width: 100%;
   font-family: impact;
}
#challenge_word{
   text-align: center;
}
#arm_lever {
   width: 15%;
   position: fixed;
   right: 50%;
   left: 50%;
   top: 50%;
   bottom: 50%;
}
#boss_space{
   position: fixed;
   right: 20%;
   bottom: 20%;
}
