#default_photo{
   width: 25%;
   margin-left: 15px;
}
#profile_logout_button{
   position: fixed;
   right: 30px;
   bottom: 30px;
}
#profile_play_button{
   position: fixed;
   right: 30px;
   bottom: 150px;
}
#user_info{
   color: white;
}
