#default_photo{
   width: 25%;
   margin-left: 85px;
   margin-bottom: 10px;
}
#profile_logout_button{
   position: fixed;
   right: 30px;
   bottom: 30px;
}
#profile_play_button{
   position: fixed;
   right: 30px;
   bottom: 150px;
}
#user_info{
   color: #AA0000;
   margin-left: 75px;
   width: 25%;
   background-color: rgba(255, 255, 255, .5);
   border-radius: 15px;
   padding: 10px;
   font-family: 'Stardos Stencil', cursive;
}
