#users_wrapper{
   width: 100%;
   color: #AA0000;
}
#user_info{
   p{
      font-size: 1em;
   }
}
#background-wrapper{
   position: fixed;
   background-image: url("boxing_ring.jpg");
   background-size: cover;
   right: 0;
   left: 0;
   bottom: 0;
   top: 0;
}
#sign_up_background_wrapper{
   position: fixed;
   background-image: url("arms_clasped.jpg");
   background-size: cover;
   right: 0;
   left: 0;
   bottom: 0;
   top: 0;
}
#mini-logo{
   width: 30%;
   margin: auto;
   display: block;
}
#sign_up_header{
   font-family: 'Stardos Stencil', cursive;
   text-align: center;
}
#sign_up_form{
   background-color: rgba(255, 255, 255, .5);
   border: 1px solid black;
   text-align: center;
   padding: 1em;
   width: 30%;
   margin: auto;
   font-family: 'Stardos Stencil', cursive;
}
#submit_button{
   font-family: 'Stardos Stencil', cursive;
}
.home_buttons{
   border: none;
   font-size: 2em;
   font-family: monospace;
   background-color: #AA0000;
   width: 6.5em;
   height: 2.5em;
   margin: 36px;
   border-radius: 45px;
   a:link,
   a:visited,
   a:active{
      text-decoration: none;
      color: white;
   }
   a:hover{
      text-decoration: none;
      color: yellow;
   }
}
