#users_wrapper{
   background-color: gray;
   background-image: url("boxing_ring.jpg");
   overflow-x: hidden;
   width: 102%;
   height: 103%;
   padding-left: 2%;
   margin-left: -1%;
   margin-bottom: -2%;
   margin-top: -16px;
}
#mini-logo{
   width: 30%;
   margin: auto;
   display: block;
}
#sign_up_header{
   font-family: impact;
   text-align: center;
}
#sign_up_form{
   border: 1px solid black;
   text-align: center;
   padding: 1em;
   width: 30%;
   margin: auto;
   font-family: impact;
}
#submit_button{
   font-family: impact;
}
.home_buttons{
   border: none;
   font-size: 2em;
   font-family: monospace;
   background-color: #AA0000;
   width: 6.5em;
   height: 2.5em;
   margin: 36px;
   border-radius: 45px;
   a:link,
   a:visited,
   a:active{
      text-decoration: none;
      color: white;
   }
   a:hover{
      text-decoration: none;
      color: yellow;
   }
}
